{% extends "main/base.html" %}
{% block content %}
  <h1>Vehicle list</h1>
    <form method="GET" action="">
        <label>
            <input type="text" name="name" value="" />
            <select name="type">
            <option value="">Any type</option>
                {% for type in vehicle_types %}
            <option value="{{ type.vehicle_type_id }}">{{ type }}</option>

                {% endfor %}
            <input type="submit" class="btn btn-outline-secondary" value="Search"  />
        </label>
    </form>
  <ul>
    {% for vehicle in vehicles %}
      <li>
            <a class="list-group-item list-group-item-action" href = "{% url 'vehicle_detail' vehicle.vehicle_id %}"> {{ vehicle.vehicle_id }} {{ vehicle.vehicle_desc }}</a>
      </li>
    {% endfor %}
  </ul>
        <a class="btn btn-outline-secondary" href="{% url 'vehicle_create' %}">Add new vehicle</a>

{% endblock %}
