{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block script %}
    <script src="{% static 'main/js/vehicle_chart_day.js' %}"></script>

{#    <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>{#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    {#    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>#}
    {#    <script src="{% static 'main/js/vehicle_chart_pusher.js' %}"></script>#}


{% endblock %}


{% block content %}
    <form method="GET" id="myForm">
        {#        {% csrf_token %}#}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Pick parameters</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" onclick="getForm()">Show chart</button>
        </div>
    </form>

    <div id="container">
        <canvas id="pie-chart"></canvas>
    </div>
{% endblock %}
